body {
    background-color: #FFF9DB;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #FFFAE6;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #e1c26f;
    max-width: 700px;
}
h2 {
    color: #A67C00;
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
}